@media only screen and (device-width: 375px) {
    header {
        display: grid;
        grid-auto-columns: 100% 100%;
        background-color: cornflowerblue;
        text-align: center;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border: 5px solid black;
        font: bold 8px italic, verdana;
    }

    #demo, #second, #three, #four, #five, #six, #seven, #eight, #nine, #ten {
        display: grid;
        grid-template-rows: 10% 70%;
        text-align: center;
        font: bold 10px italic,verdana;
        color: black;
        width: 220px;
        margin-left: 80px;
        margin-top: 30px;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    img {
        margin-left: 0px 0px 0px 30px;
        width: 70px;
        height: 70px;
        font-size: 20px;
        font: bold 16px italic,verdana;
        justify-content: center;
    }
}

@media only screen and (device-width: 812px) {
    header {
        display: grid;
        grid-auto-columns: 100% 100%;
        background-color: cornflowerblue;
        text-align: center;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border: 5px solid black;
        font: bold 20px italic, verdana;
    }

    #demo, #second, #three, #four, #five, #six, #seven, #eight, #nine, #ten {
        display: grid;
        grid-template-rows: 10% 70%;
        text-align: center;
        font: bold 15px italic,verdana;
        color: black;
        width: 500px;
        margin-left: 100px;
        margin-top: 30px;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    img {
        margin-left: 0px 0px 0px 30px;
        width: 150px;
        height: 100px;
        font-size: 20px;
        font: bold 16px italic,verdana;
        justify-content: center;
    }
}
