/*Index.html page CSS scode below*/
body {
    background-color:antiquewhite;
    background-repeat:repeat;
    
}
/*Job Hunters header CSS*/
header {
    
    background-color: cadetblue;
    text-align: center;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    border: 5px solid black;
    font: bold 25px italic,verdana;
    text-shadow: 2px 2px 5px black;
    font-weight: 500;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
}
/*Navigation for home/about and contact*/
nav {    
   
    text-align: right;
    font:bold 20px arial,verdana;
    display: block;
    color: black;
    margin-right: 10px;


}
/*All the job details CSS is apply below*/
#demo, #second, #three, #four, #five, #six, #seven, #eight, #nine, #ten {
    
    text-align-last: center;
    margin: 50px 100px 20px 600px;
    border: 5px solid black;
    box-shadow: 5px 5px 4px black;
    font-size: 20px;
    font: bold 16px italic,verdana;
    color: black;
    text-decoration: none;
}

img {                                       /*images that reflect on the job details */
    float: left;
    margin-left: 0px 0px 0px 30px;
    width: 300px;
    height: 100px;
}

#next {
    text-align-last: center;
    margin: 200px;
    border: 2px solid white;
    text-size-adjust: auto;
}

.sub
{
    text-align-last: right;
}

p {
    font-display: auto;
    margin-left: 1500px;
    font-size:large;
}
/*Apply page CSS*/
.page2 {                              /*Application form related Apply.html*/
    color: black;
    Font-size: 17px;
    background-color: antiquewhite;
    text-align-last: center;
    font:bold 16px arial,verdana;
}
.job {
    font-size: 17px;
    text-decoration-color: black;
    
}

label {
    font-size: 20px;
    
}
fieldset {
    
    text-align-last: left;
    margin: 20px 200px 10px 200px;
    box-shadow: 3px 3px 4px black;
    background-color: gainsboro;
    
    
}
  legend {
     font-size: 30px;
     text-align-last: right;
     color: Highlight;
}
  /*for job description*/
details {
    font: normal 20px arial verdana;
    margin: 10px;
    background-color: antiquewhite;
    box-shadow: 4px 4px 5px black;
    border: 2px solid black;
}
#images {
    margin: 2px 0px 0px 350px;
    width: 1000px;
    height: 150px;
}

/*search*/
#search {
    margin: 50px 10px 1px 600px;
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#search2{
    
}



